{% extends 'base_form.twig' %}
{% block form_title %}Movie Update Form
{% endblock %}
{% block form %}
	{% block record %}
		<form class="form-horizontal" action="" method="post" enctype="multipart/form-data" novalidate>
			<input type="hidden" name="_method" value="PUT"/>
			<div class="form-group">
				<label class="control-label">Title:</label>
				<input class="form-control" type="text" name="title" maxlength="30" value="{{ record.title | e }}"/>
			</div>
			<div class="form-group">
				<label class="control-label">Release Date:
				</label>
				<input class="form-control" type="text" name="release_date" pattern="\d{4}-\d{2}-\d{2}" placeholder="YYYY-MM-DD" value="{{ record.release_date | e }}"/>
			</div>
			<div class="form-group">
				<label class="control-label">Genre:</label>
				<input class="form-control" type="text" name="genre" maxlength="30" value="{{ record.genre | e }}"/>
			</div>
			<div class="form-group">
				<label class="control-label">Length:</label>
				<input class="form-control" type="text" name="length" maxlength="3" value="{{ record.length | e }}"/>
			</div>
			<div class="form-group">
				<label class="control-label">Director:</label>
				<input class="form-control" type="text" name="director" maxlength="30" value="{{ record.director | e }}"/>
			</div>
			<div class="form-group">
				<label class="control-label">Lead Actor:</label>
				<input class="form-control" type="text" name="lead_actor" value="{{ record.lead_actor | e }}"/>
			</div>
			<div class="form-group">
				<label class="control-label">Movie Image / Filename:
					{{ record.filename }}</label>
				<input class="form-control" type="file" name="new_filename"/>
				<input type="hidden" name="existing_filename" value="{{ record.filename }}"/>
			</div>
			<div class="form-group">
				<button class="btn btn-red btn-block" name="submit" value="submit">Submit</button>
				<a href="./?action=viewMovies&id={{ record.id }}" class="btn btn-red btn-block" role="button">Cancel</a>
			</div>
		</form>
	{% endblock %}
{% endblock %}
